<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vr.web.dao.VideoMapper">

	<resultMap id="BaseResultMap" type="com.vr.web.model.Video">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="category_id" jdbcType="INTEGER" property="categoryId" />
		<result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
		<result column="keywords" jdbcType="VARCHAR" property="keywords" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="play_times" jdbcType="INTEGER" property="playTimes" />
		<result column="permission" jdbcType="INTEGER" property="permission" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
		<result column="operator_user_id" jdbcType="BIGINT" property="operatorUserId" />
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, user_id, title, description, type, publish_time,
		keywords, path,
		play_times,
		permission, create_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_video
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		tb_video
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.vr.web.model.Video">
		insert into tb_video (id,
		user_id, title,
		description, type, publish_time,
		keywords, path,
		play_times,
		permission, create_time)
		values (#{id,jdbcType=BIGINT},
		#{userId,jdbcType=INTEGER},
		#{title,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
		#{publishTime,jdbcType=TIMESTAMP},
		#{keywords,jdbcType=VARCHAR},
		#{path,jdbcType=VARCHAR},
		#{playTimes,jdbcType=INTEGER},
		#{permission,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.vr.web.model.Video">
		insert into tb_video
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="publishTime != null">
				publish_time,
			</if>
			<if test="keywords != null">
				keywords,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="playTimes != null">
				play_times,
			</if>
			<if test="permission != null">
				permission,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="publishTime != null">
				#{publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="keywords != null">
				#{keywords,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="playTimes != null">
				#{playTimes,jdbcType=INTEGER},
			</if>
			<if test="permission != null">
				#{permission,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_video
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=INTEGER},
			</if>
			<if test="record.title != null">
				title = #{record.title,jdbcType=VARCHAR},
			</if>
			<if test="record.description != null">
				description = #{record.description,jdbcType=VARCHAR},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=TINYINT},
			</if>
			<if test="record.publishTime != null">
				publish_time = #{record.publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.keywords != null">
				keywords = #{record.keywords,jdbcType=VARCHAR},
			</if>
			<if test="record.path != null">
				path = #{record.path,jdbcType=VARCHAR},
			</if>
			<if test="record.playTimes != null">
				play_times = #{record.playTimes,jdbcType=INTEGER},
			</if>
			<if test="record.permission != null">
				permission = #{record.permission,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_video
		set id = #{record.id,jdbcType=BIGINT},
		user_id =
		#{record.userId,jdbcType=INTEGER},
		title =
		#{record.title,jdbcType=VARCHAR},
		description =
		#{record.description,jdbcType=VARCHAR},
		type =
		#{record.type,jdbcType=TINYINT},
		publish_time =
		#{record.publishTime,jdbcType=TIMESTAMP},
		keywords =
		#{record.keywords,jdbcType=VARCHAR},
		path =
		#{record.path,jdbcType=VARCHAR},
		play_times =
		#{record.playTimes,jdbcType=INTEGER},
		permission =
		#{record.permission,jdbcType=INTEGER},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.vr.web.model.Video">
		update tb_video
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=TINYINT},
			</if>
			<if test="publishTime != null">
				publish_time = #{publishTime,jdbcType=TIMESTAMP},
			</if>
			<if test="keywords != null">
				keywords = #{keywords,jdbcType=VARCHAR},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="playTimes != null">
				play_times = #{playTimes,jdbcType=INTEGER},
			</if>
			<if test="permission != null">
				permission = #{permission,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.vr.web.model.Video">
		update tb_video
		set user_id = #{userId,jdbcType=INTEGER},
		title =
		#{title,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		type = #{type,jdbcType=TINYINT},
		publish_time = #{publishTime,jdbcType=TIMESTAMP},
		keywords =
		#{keywords,jdbcType=VARCHAR},
		path = #{path,jdbcType=VARCHAR},
		play_times = #{playTimes,jdbcType=INTEGER},
		permission =
		#{permission,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<select id="queryByCategorys" parameterType="list" resultMap="BaseResultMap">
		SELECT * FROM tb_video
		WHERE category_id IN
		<foreach collection="categorys" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
		ORDER BY play_times DESC
		LIMIT #{limitCount}
	</select>
	
	<!-- 防止sql注入 -->
	<select id="search" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM tb_video
		WHERE id > 0
		<if test="keyword!=null">
			and keywords like CONCAT('%','${keyword}','%')
		</if>
		ORDER BY play_times DESC
		LIMIT 10
	</select>
	
	<select id="detail" parameterType="long" resultMap="BaseResultMap">
		SELECT * FROM tb_video
		where id = #{vid}
	</select>
</mapper>